{% load i18n %}
{% load account_tags %}
{% load shorttimesince_tag %}
{% load order_by %}
{% load humanize %}
{% load tasks_tags %}
{% load group_tags %}
{% load voting_tags %}
{% load extra_voting_tags_mergeme %}

<p class="expand_collapse_all"><a class="expand_all">expand all</a> &ndash; <a class="collapse_all">collapse all</a></p>
<table class="task_list">
    <tr>
        <th>ID</th>
        <th>Votes</th>
        <th>Summary</th>
        <th>Last Modified</th>
        <th>Assignee</th>
        <th>Tags</th>
        <th>Status</th>
    </tr>
    {% if grouped_tasks %}
        {% for section in grouped_tasks %}
            {% votes_by_user request.user on section.list as user_votes %}
            {% scores_for_objects section.list as task_scores %}
            <tbody><tr class="task_grouping">
                <td colspan="7">
                    <span class="focus"><a href="{% focus_url group_by section.grouper group %}">focus</a></span>
                    <span class="toggle">
                        <span class="arrow">&#x25BE;</span>
                        {{ section.grouper }}
                        <span class="count">({{ section.list|length }})</span>
                    </span>
                </td>
            </tr></tbody>
            <tbody class="task_group" id="group_{{ forloop.counter }}">
                {% for item in section.list %}
                    <tr class="task_{{ item.get_state_display }} {% cycle odd,even %}">
                        <td>{{ item.id }}</td>
                        <td>
                            <div class="vote_badge">
                                {% dict_entry_for_item item from task_scores as score %}
                                {% dict_entry_for_item item from user_votes as vote %}
                                
                                {% if user.is_authenticated %}
                                    <form class="upform" method="POST" action="{% url task_vote object_id=item.id,direction="up"|get_state:vote %}">
                                        {% csrf_token %}
                                        <input type="submit" class="{% if vote and vote.is_upvote %}active{% endif %}" value="&#x2714;" />
                                    </form>
                                {% endif %}
                                
                                <span class="score">
                                    {{ score.score|default:0 }}
                                </span>
                                
                                {% if user.is_authenticated %}
                                    <form class="downform" method="POST" action="{% url task_vote object_id=item.id,direction="down"|get_state:vote %}">
                                        {% csrf_token %}
                                        <input type="submit" class="{% if vote and vote.is_downvote %}active{% endif %}" value="&#x2718;" />
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                        <td><a href="{% groupurl task_detail group id=item.id %}">{{ item.summary }}</a></td>
                        <td style="white-space: nowrap">{{ item.modified|shorttimesince }} ago</td>
                        <td>
                            {% if item.assignee %}
                                <a href="{% groupurl tasks_for_user group username=item.assignee %}">{% user_display item.assignee %}</a>
                            {% else %}
                                <span class="warning">unassigned</span>
                            {% endif %}
                        </td>
                        <td>{% task_tags item group %}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    {% endif %}
</table>
<p class="expand_collapse_all"><a class="expand_all">expand all</a> &ndash; <a class="collapse_all">collapse all</a></p>
