{% load account_tags %}
{% load group_tags %}
{% load shorttimesince_tag %}
{% load tasks_tags %}


<tr class="task_{{ item.get_state_display }} {% cycle odd,even %}">
    <td>{{ item.id }}</td>
    <td>{% include "tasks/_voting.html" %}</td>
    <td><a href="{% groupurl task_detail group id=item.id %}">{{ item.summary }}</a></td>
    <td style="white-space: nowrap">{{ item.modified|shorttimesince }} ago</td>
    <td>
        {% if item.assignee %}
            <a href="{% groupurl tasks_for_user group username=item.assignee %}">{% user_display item.assignee %}</a>
        {% else %}
            <span class="warning">unassigned</span>
        {% endif %}
    </td>
    <td>{% task_tags item group %}</td>
    <td>{{ item.status }}</td>
</tr>