{% load voting_tags %}
{% load extra_voting_tags_mergeme %} {# in tasks.templatetags #}

<div class="vote_badge">
    {% dict_entry_for_item item from task_scores as score %}
    {% dict_entry_for_item item from user_votes as vote %}
    
    {% if user.is_authenticated %}
        <form class="upform" method="POST" action="{% url task_vote object_id=item.id,direction="up"|get_state:vote %}">
            {% csrf_token %}
            <input type="submit" class="{% if vote and vote.is_upvote %}active{% endif %}" value="&#x2714;" />
        </form>
    {% endif %}
    
    <span class="score">
        {{ score.score|default:0 }}
    </span>
    
    {% if user.is_authenticated %}
        <form class="downform" method="POST" action="{% url task_vote object_id=item.id,direction="down"|get_state:vote %}">
            {% csrf_token %}
            <input type="submit" class="{% if vote and vote.is_downvote %}active{% endif %}" value="&#x2718;" />
        </form>
    {% endif %}
</div>