{% extends "tasks/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}Add Task{% endblock %}

{% block body %}
    <h1>Add Task</h1>
    
    {% if is_member %}
		<form method="POST" action="" id="task_form" class="uniForm">    
                {{ task_form|as_uni_form }}

                <div class="form_block">
                    <input type="submit" class="primaryAction" value="{% trans 'add task' %}"/>
                </div>                
        </form>
    {% else %}
        <p>{% trans 'You are not a member and so cannot add a task.' %}</p>
    {% endif %}
    
{% endblock %}
