{% extends "tasks/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load tasks_tags %}
{% load shorttimesince_tag %}
{% load humanize %}
{% load group_tags %}
{% load bootstrap_tags %}

{% block head_title %}Tasks for {% user_display other_user %}{% endblock %}

{% block body %}
    {% url profile_detail other_user as other_user_url %}
    <h1>Tasks for {% if other_user_url %}<a href="{{ other_user_url }}">{% endif %}{% user_display other_user %}{% if other_user_url %}</a>{% endif %}</h1>
    
    <p>You can drag this '<a href="{{ bookmarklet }}">{{ SITE_NAME }} Tasks</a>' link to your bookmark bar to quickly get to your open tasks!</p>
    
    <h3>Nudged Tasks</h3>
    
    {% if nudged_tasks %}

        <form action="" method="GET" class="task-filter well">
            {{ nudged_filter.form|as_bootstrap }}
            <input type="submit" class="btn small primary" value="Filter"/>
        </form>
        
        {% regroup nudged_tasks by get_state_display as grouped_tasks %}
        {% include "tasks/_task_table.html" %}
        
    {% else %}
        {% trans "You have no nudged tasks right now." %}
    {% endif %}
    
    
    <h3>Assigned Tasks</h3>
    
    {% if assigned_tasks %}
        
        <form action="" method="GET" class="task-filter well">
            {{ assigned_filter.form|as_bootstrap }}
            <input type="submit" class="btn small primary" value="Filter"/>
        </form>
        
        {% regroup assigned_tasks by get_state_display as grouped_tasks %}
        {% include "tasks/_task_table.html" %}
        
    {% else %}
        {% trans "You have no assigned tasks right now." %}
    {% endif %}
    
    <h3>Created Tasks</h3>
    
    {% if created_tasks %}
        
        <form action="" method="GET" class="task-filter well">
            {{ created_filter.form|as_bootstrap }}
            <input type="submit" class="btn small primary" value="Filter"/>
        </form>
        
        {% regroup created_tasks by get_state_display as grouped_tasks %}
        {% include "tasks/_task_table.html" %}
        
    {% else %}
        {% trans "You have no created tasks right now." %}
    {% endif %}
    
{% endblock %}
