{% extends "questions/base.html" %}

{% load i18n %}
{% load markup_tags %}

{% block body %}
{% comment %}
    <h1>{{ question.question }}</h1>
    
    {{ question.content|apply_markup:"creole" }}
{% endcomment %}

    <h1>How do I install Pinax?</h1>
    <p>There seems to be many ways to install Pinax and I am very confused. This is what I've done so far:</p>
    <pre>pinax-boot.py ./pinax-env</pre>
    <p>What now?</p>
    
    <div id="question_comments" class="comments">
        <div class="comment">
            What is the platform you are installing Pinax on to? &mdash; <a href="#">brosner</a>
        </div>
        <div class="comment">
            How many monitors do you have? That is relevant information you know. &mdash; <a href="#">jtauber</a>
        </div>
    </div>
    
    <div id="responses">

        <div class="response">
            <p>You should follow the INSTALL documentation to learn how to perform this action.</p>
        </div>
        
        <div class="response accepted">
            <p>
            We have provided a script that will create a virtual environment for you.
            Once you have downloaded the release tarball, cd into the extracted directory.
            Let's create a virtual environment that you will install everything into:
            </p>
            
            <pre>$ python scripts/pinax-boot.py ../pinax-env
$ cd ../
$ source ./pinax-env/bin/activate
(pinax-env)$</pre>
            
            <p>
            Note that we have told you to create the new environment in the directory
            above the tarball directory. We encourage you create the environment anywhere
            you like.
            </p>
            
            <p>
            If you use virtualenvwrapper (we highly encourage you do), you can easily
            replace <tt>../</tt> with your <tt>WORKON_HOME</tt>. This gives you regular access to workon
            to activate your environment.
            </p>
        </div>
        
    </div>

{% endblock %}