{% extends "questions/base.html" %}

{% load i18n %}
{% load creole_formatter %}
{% load markup_tags %}
{% load avatar_tags %}

{% block body %}
    
    <div id="question" class="clearfix">
        <div class="question-left">
            <div>
                0
            </div>
        </div>
        <div class="question-right">
            <h1>{{ question.question }}</h1>
            {{ question.content|apply_markup:"creole" }}
            
            <div class="question-bottom clearfix">
                <div class="user_info">
                    <div class="avatar">
                        <a href="{% url profile_detail question.user.username %}">{% avatar question.user 40 %}</a>
                    </div>
                    <div class="info">
                        <div class="username">{{ question.user.username }}</div>
                    </div>
                </div>
                <div class="question_actions">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    
    {% comment %}
    <div id="question_comments" class="comments">
        <div class="comment">
            What is the platform you are installing Pinax on to? &mdash; <a href="#">brosner</a>
        </div>
        <div class="comment">
            How many monitors do you have? That is relevant information you know. &mdash; <a href="#">jtauber</a>
        </div>
    </div>
    {% endcomment %}
    
    <h2>{{ responses.count }} Response(s)</h2>
    
    <div id="responses" class="clearfix">
        {% for response in responses %}
            <div class="response{% if response.accepted %} accepted{% endif %}">
                <div class="clearfix">
                    <div class="response-left">
                        <div>
                            0
                        </div>
                    </div>
                    <div class="response-right">
                        
                        {{ response.content|apply_markup:"creole" }}
                        
                        <div class="response_bottom">
                            <div class="user_info">
                                <div class="avatar">
                                    <a href="{% url profile_detail response.user.username %}">{% avatar response.user 40 %}</a>
                                </div>
                                <div class="info">
                                    <div class="username">{{ response.user.username }}</div>
                                </div>
                            </div>
                            <div class="response_actions">
                                <ul>
                                    {% if is_me %}
                                    <li class="mark_as_accepted"><a href="?accept={{ response.pk }}">Mark as accepted answer</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>

{% endblock %}