{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    
    <h1>{% trans "Fresh-Start Pinax Project Development" %}</h1>
    
    <p>
        {% blocktrans %}
        Welcome to the issue tracker for the fresh-start branch of Pinax. For
        information about the motivation for the fresh-start branch see this
        <a href="http://groups.google.com/group/pinax-core-dev/msg/ce51f79236ea4331">post to pinax-core-dev</a>.
        {% endblocktrans %}
    </p>
    
    <p>
        {% blocktrans %}
        This site is <b>ONLY</b> for issues relating to the fresh-start branch.
        For the previous issue tracker, covering the current version of Pinax,
        see <a href="http://code-old.pinaxproject.com/">http://code-old.pinaxproject.com/</a>
        {% endblocktrans %}
    </p>
    
    <p>
        {% blocktrans %}
        We have done a one-time migration of user accounts so your previous
        credentials will work here. Accounts will not be synchronized moving forward, though, and, at some
        point, code-old will be taken down.
        {% endblocktrans %}
    </p>
{% endblock %}
