{% extends "theme_base.html" %}

{% load analytics_tags %}
{% load i18n %}

{% block extra_head_base %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.tagit.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="nav">{% spaceless %}
        <li id="tab_home"><a href="{% url home %}">{% trans "Home" %}</a></li>
        <li id="tab_tasks"><a href="{% url task_list %}">{% trans "Development" %}</a></li>
    {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
<div class="legal">
    {% blocktrans %}
    Hosted on <a href="http://gondor.io/">Gondor</a> thanks to <a href="http://eldarion.com/">Eldarion</a>.
    {% endblocktrans %}
</div>
{% endblock %}

{% block extra_body_base %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.tagit.js" type="text/javascript"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}
