div.comments {
    border: 1px dotted #000;
    border-left: none;
    border-right: none;
    padding: 10px 0;
}
div.comments .comment {
    margin: 5px 0;
    padding: 10px;
    font-size: 90%;
    color: #888;
}
div#responses {
    
}
div#responses .response {
    background: #eee;
    padding: 20px;
    margin: 20px 0;
}
div#responses .response div.user_info {
    border-top: 1px dotted #999;
    padding: 10px 0;
}
div#responses .response div.user_info div.avatar {
    float: left;
    margin-right: 10px;
}
div#responses .response div.user_info div.info {
    float: left;
}
div#responses .response div.user_info div.info .username {
    margin: 0 0 5px 0;
    font-size: 110%;
}
div#responses .response div.user_info .avatar img {
    border: 3px solid #ddd;
    padding: 3px;
}
div#responses .response pre {
    background: #f9f9f9;
}
div#responses .accepted {
    background: #9AFF9A;
}
div#responses .accepted pre {
    background: #CCFFCC;
}
div#responses .accepted div.user_info .avatar img {
    border: 3px solid #CCFFCC;
}
div#responses .accepted div.user_info div.info .username {
    font-weight: bold;
}
