div.comments {
    border: 1px dotted #000;
    border-left: none;
    border-right: none;
    padding: 10px 0;
}
div.comments .comment {
    margin: 5px 0;
    padding: 10px;
    font-size: 90%;
    color: #888;
}
div#question {
    
}
div#question .question-left {
    float: left;
    width: 10%;
}
div#question .question-left > div {
    padding: 10px;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}
div#question .question-right {
    float: left;
    width: 90%;
}
div#question .question-bottom {
    border-top: 1px dotted #333;
}
div#question div.question_actions {
    padding: 10px 0;
    float: right;
}
div#question div.question_actions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div#question div.user_info {
    padding: 10px 0;
    float: left;
}
div#question div.user_info div.avatar {
    float: left;
    margin-right: 10px;
}
div#question div.user_info div.info {
    float: left;
}
div#question div.user_info div.info .username {
    margin: 0 0 5px 0;
    font-size: 110%;
}
div#question div.user_info .avatar img {
    border: 3px solid #ddd;
    padding: 3px;
}

div#responses {
    
}
div#responses .response {
    background: #eee;
    padding: 20px 20px 20px 0;
    margin: 20px 0;
}
div#responses .response > div {
    width: 100%;
}
div#responses .response div.response-left {
    float: left;
    width: 10%;
}
div#responses .response div.response-left > div {
    padding: 10px;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}
div#responses .response div.response-right {
    float: left;
    width: 90%;
}
div#responses .response div.response_bottom {
    border-top: 1px dotted #999;
}
div#responses .response div.response_actions {
    padding: 10px 0;
    float: right;
}
div#responses .response div.response_actions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div#responses .accepted div.response_actions li.mark_as_accepted {
    display: none;
}
div#responses .response div.user_info {
    padding: 10px 0;
    float: left;
}
div#responses .response div.user_info div.avatar {
    float: left;
    margin-right: 10px;
}
div#responses .response div.user_info div.info {
    float: left;
}
div#responses .response div.user_info div.info .username {
    margin: 0 0 5px 0;
    font-size: 110%;
}
div#responses .response div.user_info .avatar img {
    border: 3px solid #ddd;
    padding: 3px;
}
div#responses .response pre {
    background: #f9f9f9;
}
div#responses .accepted {
    background: #9AFF9A;
}
div#responses .accepted pre {
    background: #CCFFCC;
}
div#responses .accepted div.user_info .avatar img {
    border: 3px solid #CCFFCC;
}
div#responses .accepted div.user_info div.info .username {
    font-weight: bold;
}
