/* SITE-SPECIFIC TAB STYLING */

body.profile #tab_profile a,
body.wiki #tab_wiki a,
body.tasks #tab_tasks a,
body.pastebin #tab_pastebin a,
body.documents #tab_documents a,
body.notices #tab_notices a,
body.paste #tab_paste a,
body.search #tab_search a
{
    color: #000 !important; /* selected tab text colour */
}
body.profile #tab_profile,
body.wiki #tab_wiki,
body.tasks #tab_tasks,
body.pastebin #tab_pastebin,
body.documents #tab_documents,
body.notices #tab_notices,
body.paste #tab_paste,
body.search #tab_search
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
