form.add-attachment{
    background-color: #eee;
    padding: 1em;
}

form.add-attachment p{
    margin: 0.3em 0;
}

.task_list .even {
    background-color: #EEE;
}
.task_list .odd {
    background-color: #DDD;
}

tr.task_resolved td, tr.task_closed td {
    text-decoration: line-through;
}
tr.task_closed td {
    text-decoration: line-through;
    color: #999;
}
tr.task_closed td a {
    color: #999;
}

table.task_list td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}

table.task_list {
    width: 100%;
}

table.task_list th {
    background: #9BC;
    text-align: left;
    color: #FFF;
    padding: 5px 20px 5px 5px;
}

tr.task_grouping {
    background: #DEF;
    color: #333;
    border-top: 1px solid #BCD;
}

tr.task_grouping .toggle {
    cursor: pointer;
}

tr.task_grouping .focus {
    float: right;
}
tr.task_grouping .focus a {
    color: #666;
}

tr.task_grouping .count {
    color: #666;
}
div.task div.bulk h2 {
    margin: 0;
}
div.task div.bulk {
    margin-left: 158px;
    padding: 4px;
}

div.task-meta {
    float: left;
    width: 150px;
    margin: 0;
    padding: 4px;
    font-size: 80%;
}

div.task-meta2 {
    color: #666;
    margin-top: 1em;
    font-size: 90%;
}

div.task-meta2 b {
    color: #000;
}

h2.task_resolved, h2.task_closed {
    text-decoration: line-through;
}

p.expand_collapse_all {
    margin: 2px;
    font-size: 8pt;
}

p.expand_collapse_all a {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

.task_filter ul {
    background: #DEF;
    padding: 5px;
}

.task_filter li {
    display: inline;
}

div.vote_badge {
  float: left;
  margin: 5px 20px 5px 0;
}

/* the arrows */
div.vote_badge input {
  position: relative;
  left: -2px;
  border: none;
  background-color: transparent;
  text-indent: -999em;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-image: url(/site_media/static/img/bookmarks/up_grey.png);
}

div.vote_badge form.upform {
  height:16px;
  padding: 0;
  margin: 0;
}

div.vote_badge form.downform input {
  background-image: url(/site_media/static/img/bookmarks/down_grey.png);
}

/* active arrows */
div.vote_badge form.upform input.active {
  background-image: url(/site_media/static/img/bookmarks/up_mod.png);
}

div.vote_badge form.downform input.active {
  background-image: url(/site_media/static/img/bookmarks/down_mod.png);
}

div.vote_badge span.score {
  font-size: 16pt;
  font-weight: bold;
}
.pack.with-votes p, .pack.with-votes h2 {
  margin-left: 50px;
}