{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}paste{% endblock %}

{% block head_title %}{% block title %}{% endblock %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/pygments.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/paste.css" />
{% block extrahead %}{% endblock %}
{% endblock %}

{% block subnav %}
<ul>
    <li><a href="{% url snippet_new %}">{% trans "New snippet" %}</a></li>
    <li><a href="{% url snippet_userlist %}">{% trans "Recent snippets" %}</a></li>
    <li><a href="{% url snippet_userprefs %}">{% trans "Paste settings" %}</a></li>
</ul>
{% endblock %}

{% block body %}
    <div class="left_panel">
    {% block content %}{% endblock %}
    </div>
    <div class="right_panel">
    {% block sidebar %}{% endblock %}
    </div>
{% endblock %}

{% block extra_body %}
    {% block script_footer %}{% endblock %}
{% endblock %}